.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    padding-bottom: 50px;
}

.clients__list {
    display: flex;
}

.clients__item {
    width: calc((100% - 5 * 30px) / 6);
    margin-top: -30px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    border: 1px solid #afb1b8;

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }

    &:hover .clients__logo,
    &:focus .clients__logo {
        fill: var(--accent-color);
    }
}
.clients__logo {
    fill: #afb1b8;
    transition: var(--animation);
    transition-property: fill;
}
